body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about {
  background: url("https://images.unsplash.com/photo-1559190394-df5a28aab5c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60")
    no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  position: relative;
  padding: 100px 0;
}

.inner {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  font-family: "Luckiest Guy", cursive;
}

.text {
  font-size: 1.5em;
  color: black;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.questions {
  width: 100%;
  position: relative;
  text-align: center;
}

.col {
  font-family: "Luckiest Guy", cursive;
  font-size: 30px;
}

p.text {
  font-size: 1em;
}

.accordion-button.collapsed {
  color: black;
}
button.accordion-button {
  font-size: 18px;
  color: black;
}

@media screen and (max-width: 360px) {
  .inner {
    min-width: 100%;
    background-color: #fdfdfd;
    min-width: auto;
    transform: translate(-20%, -40%);
    height: auto;
    padding: 150px;
  }
  p.text {
    font-size: 1em;
  }
  .about {
    background: none;
    height: 300px;
  }
  .questions {
    width: 100%;
    font-size: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 990px) {
  .inner {
    min-width: 100%;
    background-color: #fdfdfd;
    min-width: auto;
    transform: translate(-20%, -40%);
    padding: 50% 0;
  }
  p.text {
    font-size: 1em;
  }
  .about {
    background: url("https://images.unsplash.com/photo-1559190394-df5a28aab5c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDB8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60")
      no-repeat left;
    background-color: #fdfdfd;
    background-size: 55%;
    height: 300px;
  }
}

@media screen and (min-width: 990px) {
}
