button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
}

.main__wrapper {
  flex-direction: column;
  padding: 16px;
  border-bottom: rgb(255, 152, 35);
  margin-bottom: 30px;
}

.loading__wrapper,
.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__form__wrapper {
  padding: 15px;
  border-radius: 10px;
  max-width: 1200px;
  font-family: "Alegreya", serif;
  margin-bottom: 15px;
}

.search__form__wrapper-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.search__form__wrapper-form-box > label {
  background-color: #fff;
  color: rgb(255, 152, 35);
  padding: 10px;
  text-shadow: 2px 2px black;
  margin-left: 15px;
  font-size: 1.5em;
  font-family: "Luckiest Guy", cursive;
}

.search__form__wrapper-form-box > label > select {
  margin-left: 10px;
  color: rgb(255, 152, 35);
  font-family: "Barlow Condensed", sans-serif;
}

.search__form__wrapper-form > button {
  border: 1px solid rgb(255, 152, 35);
  padding: 10px;
  margin-left: 20px;
  font-size: 25px;
  transition: all 0.3s linear;
  font-family: "Alegreya", serif;
  box-shadow: 1px 1px 4px 1px rgb(255, 152, 35);
  color: rgb(255, 152, 35);
  text-shadow: 2px 2px black;
  font-size: 1.5em;
  font-family: "Luckiest Guy", cursive;
}

.pets__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pets__card {
  padding: 16px;
  display: flex;
  align-items: center;
}

.pets__card-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px 1px rgb(255, 152, 35);
  border-radius: 6px;
}

.pets__card-box > img {
  height: 300px;
  display: block;
  border-radius: 6px 6px 0 0;
}

.pets__card-box > span {
  font-size: 15px;
  text-align: center;
  bottom: 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 6px 6px;
  color: rgb(255, 152, 35);
  font-weight: 600;
}

.footer__wrapper {
  padding: 16px;
  background-color: #fff;
  border-bottom: rgb(255, 152, 35);
  margin-top: 70px;
}

.footer__wrapper > a {
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(255, 152, 35);
  font-weight: 600;
  font-size: 1.5em;
  font-family: "Luckiest Guy", cursive;
}

#adopt-header {
  min-width: 60%;
  height: 250px;
}

i {
  font-size: 1.5em;
}
h3,
h4 {
  text-align: center;
}

h6 {
  color: rgb(255, 152, 35);
}
.accordion-body {
  text-align: left;
}
#favourite {
  color: rgb(255, 152, 35);
  size: 1.5em;
}

@media screen and (max-width: 1400px) {
  .search__form__wrapper-form,
  .search__form__wrapper-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search__form__wrapper-form {
    padding: 10px;
  }

  .search__form__wrapper-form-box > label {
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px 1px rgb(255, 152, 35);
  }
  #adopt-header {
    min-width: 50%;

    height: 250px;
  }
}

@media screen and (min-width: 990px) {
  .search__form__wrapper-form,
  .search__form__wrapper-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search__form__wrapper-form {
    padding: 10px;
  }

  .search__form__wrapper-form-box > label {
    width: 50%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px 1px rgb(255, 152, 35);
  }
  #adopt-header {
    max-width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 990px) {
  .search__form__wrapper-form,
  .search__form__wrapper-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search__form__wrapper-form {
    padding: 10px;
  }

  .search__form__wrapper-form-box > label {
    width: 50%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px 1px rgb(255, 152, 35);
  }
  #adopt-header {
    max-width: 30%;
    height: 150px;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Luckiest+Guy&family=Prompt:wght@300&display=swap");
