* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 100px auto;
  width: 90%;
  box-shadow: 1px 1px 4px 1px lightgray;
}

.container-form {
  width: 100%;
  padding: 10px;
}

.container label {
  display: block;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-family: "lato";
  margin-bottom: 3px;
}

.container input,
.container textarea {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(255, 152, 35);
}

.container input:focus,
.container textarea:focus {
  box-shadow: 1px 1px 4px 1px rgb(255, 152, 35);
}

.btn button:hover {
  background-color: rgb(255, 152, 35);
  cursor: pointer;
}

.single-item {
  margin: 10px 0;
}
.btn {
  width: 100%;
  text-align: center;
}

.btn button {
  width: 150px;
  font-size: 18px;
  letter-spacing: 0.2rem;
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-top: 5px;
}

.msg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  font-style: italic;
  width: 340px;
  padding: 3px;
  font-size: 25px;
  font-family: "lato";
  font-weight: bold;
  color: rgb(255, 152, 35);
  border-radius: 5px;
}

label {
  font-size: 25px;
}

input.name {
  font-size: 25px;
}

.desc {
  font-size: 25px;
  font-family: "Luckiest Guy", cursive;
  text-align: center;
}

.title {
  font-size: 60px;
}
@media screen and (min-width: 664px) {
  .container {
    width: 60%;
  }
}

@media screen and (min-width: 986px) {
  .container {
    width: 40%;
  }
}
