$dark: rgb(255, 152, 35);

.card-group {
  size: 25%;
}
.card-text {
  color: black;
}
.card-title {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.3em;
  color: black;
}

.card-body {
  background-color: rgb(255, 255, 255);
  color: black;
}

.card-footer {
  color: black;
}
btn-dark {
  color: white;
}
.slogan {
  font-size: 5em;
  font-family: "Luckiest Guy", cursive;
  display: flex;
  flex-direction: row;
  color: rgb(255, 152, 35);
}

div-card {
  height: 70%;
}

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
