.colored-section {
  background-color: rgb(255, 152, 35);
  color: #fff;
}

.white-section {
  background-color: #fff;
}
h1 .big-heading{
  word-spacing: 30px;
}
.big-heading {
  font-family: "Luckiest Guy", cursive;
  font-size: 3.5rem;
  line-height: 1.5;
}

.icon:hover{
  color: rgb(255, 152, 35);
}

.card{
  margin-bottom: 10px;
}

h3.big-heading {
  text-align: center;
}