$dark: rgb(255, 152, 35);

#home-background {
  background-image: url("https://i.ibb.co/6why2Nw/Group-of-pet-dog-cat-reptile-rodent-bird-ferret-fish-amphibian.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 90%;
  position: relative;
}
.card-group {
  size: 25%;
}
.card-text {
  color: black;
}
.card-title {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.3em;
  color: black;
}

.card-body {
  background-color: rgb(255, 255, 255);
  color: black;
}

.card-footer {
  color: black;
}
btn-dark {
  color: white;
}
.slogan {
  font-size: 5em;
  font-family: "Luckiest Guy", cursive;
  display: flex;
  flex-direction: row;
  color: rgb(255, 152, 35);
}

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
