$dark: rgb(255, 152, 35);

#logo {
  font-size: 3em;
  font-family: "Luckiest Guy", cursive;
}

#link {
  font-size: 1.5em;
  font-family: "Luckiest Guy", cursive;
  justify-content: space-between;
}
#collasible-nav-dropdown {
  font-size: 1.5em;
  font-family: "Luckiest Guy", cursive;
  justify-content: space-between;
}

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
