$dark: rgb(255, 152, 35);

#register {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 320px;
}
.reg {
  box-shadow: 1px 1px 4px 1px rgb(255 152 35);
}
.btn button {
  width: 150px;
  font-size: 18px;
  letter-spacing: 0.2rem;
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-top: 5px;
}

.btn {
  width: 100%;
  text-align: center;
}

.btn button:hover {
  background-color: rgb(255, 152, 35);
  cursor: pointer;
}
h1 {
  font-family: "Luckiest Guy", cursive;
}

#background {
  background-image: url("https://i.ibb.co/6WGWWwY/19-AA2424-1-D53-42-E1-BD84-C1-E689-F2-F190-1-201-a.jpg");
  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: 40%;
  position: relative;
}

@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
